<footer class="footer">
  <div class="container footer__container">
    <div class="footer__info">
      <img src="images/Logo.svg" alt="" class="footer__logo">
      <p class="footer__descr">NFT marketplace UI created with Anima for Figma.</p>
      <p class="footer__join-socials">Join our community</p>
      <ul class="footer__socials">
        <li class="footer__socials-item"><img src="images/discordlogo.svg" alt="" class="footer__socials-ico"></li>
        <li class="footer__socials-item"><img src="images/youtubelogo.svg" alt="" class="footer__socials-ico"></li>
        <li class="footer__socials-item"><img src="images/twitterlogo.svg" alt="" class="footer__socials-ico"></li>
        <li class="footer__socials-item"><img src="images/instagramlogo.svg" alt="" class="footer__socials-ico"></li>
      </ul>
    </div>
    <div class="footer__links">
      <h5 class="footer__links-title">Explore</h5>
      <ul class="footer__links-list">
        <li class="footer__links-item"><a href="#" class="footer__links-link">Marketplace</a></li>
        <li class="footer__links-item"><a href="#" class="footer__links-link">Rankings</a></li>
        <li class="footer__links-item"><a href="#" class="footer__links-link">Connect a wallet</a></li>
      </ul>
    </div>
    <div class="footer__form">
      <h5 class="footer__form-title">Join our weekly digest</h5>
      <p class="footer__form-descr">Get exclusive promotions & updates straight to your inbox.</p>
      <form action="" class="footer__form form">
        <input class="footer__form-input form-input" type="email" placeholder="Enter your email here">
        <button class="footer__form-button form-button button">Subscribe</button>
      </form>
    </div>
  </div>
</footer>

<script src="js/main.js"></script>
</body>

</html>