<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NFT marketplace</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

  <header>
    <div class="header">
      <img class="header__logo" src="../images/Logo.svg"></img>
      <ul class="header__nav-list">
        <li class="header__nav-item"><a href="#" class="header__nav-link">Marketplace</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">Rankings</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link">Connect a wallet</a></li>
      </ul>
      <button class="header__button button"><img src="../images/nav-user.svg" alt="" class="header__button-icon">Sign Up</button>
    </div>
  </header>